html, body, .scrollable {
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
};

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon-quiz/fonts/icomoon-quiz.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gas';
	src: url('../fonts/Digital Dot Roadsign.OTF');
	font-weight: normal;
	font-style: normal;
}

/************************************************************************************************/
/*
/* Colors etc.
*/

$_theme: "arminia"; 


$_min_height: 1px;

$_col_bg: #fff;
$_col_fg: #000;

$_col_button_high: #c44800;
$_col_button_high_type: #fff;

$_col_button_low: #86400b;
$_col_button_low_type: #fff;

$_col_alert: #ee5802;
$_col_decline: #ee5802;
$_col_accept: #05be64;

$_col_button_high: #015095;
$_col_button_low: #000;

/************************************************************************************************/
/*
/* General
*/


html {
	height: 100%;
}

body {
	background: $_col_bg url("../images/bghell.png") no-repeat center center;
	background: #ff0000;
	@media screen and (min-width: 321px) {
		background: #000;
	}
	background: #000;
	color: $_col_fg;
	position: relative;
	font-family: Roboto,sans-serif;
	font-size: 16px;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	color: $_col_button_high;
}

.clear {
	clear: left;
}

#idle {
	position: absolute;
	left: 100%;
	top: 0;
	width: 320px;
	height: 568px;
	background: rgba(0,0,0,0.7) url("../images/ajax-loader.gif") no-repeat center center;
	z-index: 2014;
	&.active {
		left: 0;
	}
}

.i {
	font-family: icomoon !important;
}

h1 {
	margin: 10px 0;
	padding-top: 10px;
	border-top: solid 2px black;
	font-size: 18px;
	&:first-child {
		margin-top: 0;
		padding-top: 0;
		border: none;
	}
}


h1,
h2 {
	text-transform: uppercase;
}

.multi {
	display: none !important;
}

/************************************************************************************************/
/*
/* Pages
*/

#wrap {
	@media screen and (min-width: 1px) {
		width: 320px;
		height: 480px;
		margin: -320px 0 0 -170px;
		@media screen and (min-height: $_min_height) {
			height: 568px;
			margin-top: -344px;
		}
		position: absolute;
		left: 50%;
		top: 50%;
		overflow: hidden;
		background: $_col_bg;
		border: solid 20px black;
		border-width: 60px 10px;
		border-radius: 10px;
		background: black url("../images/bg-"+$_theme+".png") no-repeat center center;
		background-size: cover;
	}
}

@-webkit-keyframes 'pageactive' {
    0% { 
    	left: 100%; 
    	opacity: 0;
	}
	100% { 
		left: 0;
    	opacity: 1;
	}
}

@-webkit-keyframes 'pagemoveout' {
    0% { 
    	left: 0; 
    	opacity: 1;
	}
	100% { 
		left: -100%;
    	opacity: 0;
	}
}

.page {
	position: absolute;
	left: 100%;
	top: 0;
	float: left;
	width: 290px;
	height: 450px;
	@media screen and (min-height: $_min_height) {
		height: 538px;
	}
	padding: 15px;
	&.movein {
	    -webkit-animation-direction: normal;
	    -webkit-animation-duration: 0.3s;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-name: pageactive;
	    -webkit-animation-timing-function: ease-out;
		-webkit-animation-fill-mode: forwards;
	};
	&.active {
		left: 0;
		&.moveout {
	    -webkit-animation-direction: normal;
	    -webkit-animation-duration: 0.3s;
	    -webkit-animation-iteration-count: 1;
	    -webkit-animation-name: pagemoveout;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-timing-function: ease-in;
		}
	}
	.nav {
		width: 288px;
		position: absolute;
		left: 15px;
		bottom: 15px;
		z-index: 1905;
	};
	&.debug {
		position: relative;
		float: left;
		left: inherit;
		opacity: 1;
	}
	h1 {
		font-family: Nunito;
	}
	h2 {
		margin: 20px 0 0 0;
		font-family: Nunito;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	&#home {
		background: url("../images/splash-"+$_theme+".png") no-repeat;
		background-size: contain;
		h1 {
			position: absolute;
			left: 50%;
			top: 100px;
			width: 228px;
			height: 256px;
			margin: -114px 0 0 -114px;
			@media screen and (min-height: $_min_height) {
				margin-top: 0px;
			}
			text-indent: -5000px;
			background: url("../images/logo.png") no-repeat;
			background-size: contain;
			display: none;
		}
	}
}

.loading {
	opacity: 0.5;
	background: url("../images/ajax-loader_white.gif") no-repeat center center;
	background-image: url("../images/ajax-loader_white.gif"),url("../images/loading-bg.png");
	h1,
	ul {
		-webkit-filter: blur(2px);
		opacity: 0.5;
	}
}

ul.nav {
	li {
		clear: left;
		margin: 5px 0 0 0;
	}
}

.button {
	cursor: pointer;
}

ul.nav ul {
	.button {
		width: 141px;
		background: $_col_button_low;
		color: $_col_button_low_type;
		border: none;
		@media screen and (min-height: $_min_height) {
			padding: 12px 0;
		}
	}
	li {
		margin-left: 6px;
		width: 141px;
		clear: none;
		float: left;
		&:first-child {
			margin-left: 0;
		}
	}
}

/************************************************************************************************/
/*
/* Form
*/

input[type="password"],
input[type="text"] {
	border: solid 1px #ccc;
	padding: 6px 6px 4px;
	width: 276px;
	&#search {
		float: left;
		width: 200px;
	}
}

ul + li {
	margin-left: 0;
	clear: left;
}

ul.form {
	li {
		margin-bottom: 20px;
		label {
			display: block;
			margin-bottom: 10px;
		}
		ul > li,
		&:first-child {
			margin-left: 0;
			clear: left;
		}
	}
	ul {
		li {
			width: 140px;
			margin-left: 10px;
			float: left;
			input[type="password"],
			input[type="text"] {
				width: 121px;
			}
		}
	}
}


ul.list {
	li {
		display: block;
		position: relative;
		display: block;
		border: solid 1px #ccc;
		padding: 15px;
		height: 80px;
		margin: 0 0 15px 0;
		background: white;
		border-radius: 6px;
		&.simple {
			margin: 0;
			background: none;
			border: none;
			padding: 14px 2px 0 2px;
		}
		span.date {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		li {
			height: auto;
			border: none;
			padding: 0;
		}
		span.i {
			float: left;
			margin: 0 7px 0 0;
		}
		ul.coplayers {
			font-size: 13px;
			position: absolute;
			left: 15px;
			top: 15px;
			li {
				margin: 0 0 5px 0;
			}
			span.i {
				font-size: 15px;
				margin: 0 7px 0 0;
			}
		}
		div.actions {
			position: absolute;
			right: 0px;
			top: 32px;
			width: 116px;
			.button {
				padding: 8px 0;
				display: block;
				width: 100px;
				text-align: center;
				font-size: 13px;
				margin-bottom: 5px;
				&.big {
					padding: 16px 0;
				}
			}
			span.button.dead {
				width: 100px;
			}
			.i {
				text-transform: none;
			}
			.accept {
				background: $_col_accept;
			}
			.decline {
				background: $_col_decline;
			}
		}
	}
	a {
		text-decoration: none;
	}
	&.oneliner {
		li {
			height: 30px;
		}
	}
	&.auto {
		li {
			height: auto;
			overflow: hidden;
			padding-bottom: 14px;
			li {
				padding-bottom: 0;
			}
		}
	}
	span.date {
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 13px;
	}
	&#players {
		background: white;
		padding: 8px;
		height: 122px;
		margin-top: 10px;
	}
}

/************************************************************************************************/
/*
/* Results
*/

div.results {
	height: 150px;
	@media screen and (min-height: $_min_height) {
		height: 207px;
	}
	overflow: scroll;
}

div.results.long {
	height: 355px;
	@media screen and (min-height: $_min_height) {
		height: 430px;
	}
	h1.players_1 {
		margin: 0 auto 20px auto;
		text-align: center;
	}
}

div.results {
	overflow: none;
	p {
		padding: 10px 10px 0 10px;
		line-height: 1.4;
	}
}

ul#ranks {
	li.rank {
		margin: 10px 0px 0 2px;
		overflow: hidden;
		@media screen and (min-height: $_min_height) {
			margin-top: 17px;
			padding-top: 17px;
			border-top: solid 1px #ccc;
		}
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border: none;
		}
		li.rounds {
			display: block;
			float: left;
			width: 38px;
			margin-right: 2px;
			&.avatar {
				clear: left;
				width: 86px;
				padding-right: 0px;
				font-size: 11px;
				margin-left: 0;
				text-align: center;
				span.score {
					font-family: "gas";
					margin: 0 auto;
					display: block;
					padding: 8px;
					width: 100%;
					height: 30px;
					border-radius: 23px;
					font-size: 30px;
					@media screen and (min-height: $_min_height) {
						padding: 13px 10px 7px;
						width: 40px;
						height: 41px;
						border-radius: 30px;
						font-size: 34px;
					}
					color: white;
					text-shadow: 0 0 20px rgba(0,0,0,0.8);
					background-color: black;
					&.host {
						background-color: $_col_accept;
						background-color: black;
					}
					background-position: center center;
					background-repeat: no-repeat;
					margin-bottom: 5px;
					background-size: contain;
					text-align: center;
				}
			}
			ul li {
				text-align: center;
				&.label {
					margin-bottom: 5px;
					border-bottom: solid 1px #ccc;
					padding-bottom: 5px;
				}
				span {
					display: block;
					width: 30px;
					height: 30px;
					padding: 0;
					margin: 0 3px 2px 0;
					text-indent: -5000px;
					border: solid 1px black;
					border-radius: 36px;
					&.right {
						background-color: $_col_accept;
						&.rank_0 {
							background: $_col_accept;
							color: white;
							width: 36px;
							@media screen and (min-height: $_min_height) {
								padding: 1px 0 3px;
							}
							border-radius: 2px;
						}
					}
					&.wrong {
						background-color: $_col_decline;
					}
					&.not {
						opacity: 0.5;
					}
				}
			}
		}
		&:first-child {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
	&.players_1 {
		li.rank {
			li.rounds {
				&.avatar {
					width: 260px;
					margin: 0 0 25px 25px;
					.score {
						width: 220px;
						height: 180px;
						/*border-radius: 150px;*/
						font-size: 120px;
						margin: 0;
						/*background: $_col_button_high !important;*/
						padding-top: 53px;
					}
					.player {
						display: none;
					}
				}
				&:nth-child(2) {
					margin-left: 45px;
				}
			}
		}
	}
}


/************************************************************************************************/
/*
/* Frage
*/


@-webkit-keyframes 'frage' {
    0% { 
		top: -50%;
    }
    100% { 
		top: 0;
    }
}

@-webkit-keyframes 'antworten' {
    0% { left: -320px }
	100% { left: 0px; }
}

@-webkit-keyframes 'away' {
    0% { 
    	top: 0; 
    	opacity: 1;
	}
	100% { 
		top: 800px; 
    	opacity: 0;
	}
}

@-webkit-keyframes 'order' {
    1% { background: $_col_bg; color: $_col_fg }
    99% { background: $_col_fg; color: $_col_bg }
}

@-webkit-keyframes 'correctorder' {
    1% { background: $_col_accept*2; }
    20% { background: $_col_accept; }
    40% { background: $_col_accept*2; }
    60% { background: $_col_accept; }
    80% { background: $_col_accept*2; }
    100% { background: $_col_accept; }
}

@-webkit-keyframes 'wrongorder' {
    1% { background: $_col_decline*2; }
    20% { background: $_col_decline; }
    40% { background: $_col_decline*2; }
    60% { background: $_col_decline; }
    80% { background: $_col_decline*2; }
    100% { background: $_col_decline; }
}

#frage {
	&.go {
	-webkit-transition: opacity 1s;
	-webkit-transition: -webkit-filter 1s;
		.content {
			position: relative;
			display: inherit; 
		    -webkit-animation-direction: normal;
		    -webkit-animation-duration: 0.4s;
		    -webkit-animation-iteration-count: 1;
		    -webkit-animation-name: frage;
		    -webkit-animation-timing-function: ease-out;
			-webkit-animation-fill-mode: forwards;
		}
		ul.answers 
			{
			.button {
				display: inherit;
				position: relative;
				left: -320px;
			    -webkit-animation-direction: normal;
			    -webkit-animation-duration: 0.3s;
			    -webkit-animation-iteration-count: 1;
			    -webkit-animation-name: antworten;
			    -webkit-animation-timing-function: ease-out;
				-webkit-animation-fill-mode: forwards;
				&.answer.lock {
					left: 0;
				    -webkit-animation-direction: normal;
				    -webkit-animation-duration: 0.75s;
				    -webkit-animation-iteration-count: 1;
				    -webkit-animation-name: blink;
				    -webkit-animation-timing-function: step-end;   
				}
			}
			&.ui-sortable.lock {
				.button {
					-webkit-animation-name: none;
				}
			}
			&.zuordnung {
				width: 139px;
				li {
					width: 134px;
					&.long {
						width: 290px;
						.button {
							width: auto;
							font-size: inherit;
							background: $_col_button_high;
						}
					}
					&.ui-sortable-helper .button {
						background: $_col_button_high*2 !important;
						zoom: 1.05;
					}
				}
				.button {
					width: 134px;
					font-size: 14px;
					background: $_col_fg;
					opacity: 1 !important;
				}
				&.richtigezuordnung {
					.answer.button {
						-webkit-animation-delay: 0s;
					    -webkit-animation-direction: normal;
						-webkit-animation-duration: 1.2s;
					    -webkit-animation-iteration-count: 1;
					    -webkit-animation-name: wrongorder;
					    -webkit-animation-timing-function: step-end;  
					}
					.button.state_true {
					    -webkit-animation-name: correctorder;
					}
					&.ui-sortable {
						.answer.button {
						    -webkit-animation-name: wrongorder;
						}
						.button.state_true {
						    -webkit-animation-name: correctorder;
						}
					}
					li[data-ord="0"] .button {
						-webkit-animation-delay: 0s;
					}
					li[data-ord="1"] .button {
						-webkit-animation-delay: 1.5s;
					}
					li[data-ord="2"] .button {
						-webkit-animation-delay: 3s;
					}
					li[data-ord="3"] .button {
						-webkit-animation-delay: 4.5s;
					}
					&.first {
						.answer.button {
							-webkit-animation-delay: 0s;
						    -webkit-animation-direction: normal;
						    -webkit-animation-duration: 1.2s;
						    -webkit-animation-iteration-count: 1;
						    -webkit-animation-name: order;
						    -webkit-animation-timing-function: step-end;  
						}
						.button.state_true {
						    -webkit-animation-name: order;
						}
						li:nth-child(1) .button.answer {
							-webkit-animation-delay: 0s;
						}
						li:nth-child(2) .button.answer {
							-webkit-animation-delay: 1.5s;
						}
						li:nth-child(3) .button.answer {
							-webkit-animation-delay: 3s;
						}
						li:nth-child(4) .button.answer {
							-webkit-animation-delay: 4.5s;
						}
					}
				}
			}
			&.zuzuordnen {
				right: 19px;
				left: auto;
				bottom: 76px;
				.button {
					background: $_col_button_high;
					/*-webkit-animation-name: none;*/
					left: auto;
				}
				li:nth-child(2) .button {
					-webkit-animation-delay: 0.1s;
				}
				
				li:nth-child(3) .button {
					-webkit-animation-delay: 0.15s;
				}
				
				li:nth-child(4) .button {
					-webkit-animation-delay: 0.2s;
				}
			}
		}
		&.answered {
			.button {
				opacity: 0.5;
				left: 0 !important;
				&.lock.answer.state_true,
				&.answer.state_true {
					opacity: 1;
					-webkit-animation-delay: 0.3s;
				    -webkit-animation-direction: normal;
				    -webkit-animation-duration: 0.75s;
				    -webkit-animation-iteration-count: 1;
				    -webkit-animation-name: correct;
				    -webkit-animation-timing-function: step-end;   
				}
				&.lock.answer.state_false {
					opacity: 1;
					-webkit-animation-delay: 0.3s;
				    -webkit-animation-direction: normal;
				    -webkit-animation-duration: 0.75s;
				    -webkit-animation-iteration-count: 1;
				    -webkit-animation-name: decline;
				    -webkit-animation-timing-function: step-end;   
				}
				&.answered {
					opacity: 1;
					background: $_col_decline;
				}
			}
		}
		&.away {
		    -webkit-animation-direction: normal;
		    -webkit-animation-duration: 0.7s;
		    -webkit-animation-iteration-count: 1;
		    -webkit-animation-name: away;
		    -webkit-animation-timing-function: ease-in;   
		}
	}
	p {
		&.bild,
		&.frage {
			margin: 0 0 10px 0;
			line-height: 1.4;
			font-size: 20px;
		}
		&.bild {
			padding: 0;
			background: none;
			text-align: center;
			img {
				max-height: 145px;
				width: auto;
			}
		}
	}
	.content {
		display: none;
		position: relative;
		z-index: 1972;
		background: white;
		padding: 12px 12px 2px 12px;
		h1 {
			color: $_col_button_high;
			padding-bottom: 12px;
			margin-bottom: 12px;
			border-bottom: solid 1px #ccc;
			span {
				float: right;
				color: $_col_fg;
			}
		}
		border: solid 1px rgba(0,0,0,0.3);
	}
	ul.answers {
		.button {
			display: none;
		}
	}
	
}


#timer {
	position: absolute;
	left: 10px;
	top: 50px;
	z-index: 3;
	opacity: 0.3;
}

polygon.second {
	opacity: 0;
	transition: all 0.5s;
}

polygon.second.active {
	opacity: 1;
}

#timer polygon {
	fill: $_col_accept;
	stroke: $_col_accept;
}


/************************************************************************************************/
/*
/* Buttons etc.
*/

@-webkit-keyframes 'blink' {
    0% { background: $_col_button_high; }
    20% { background: $_col_button_high*2; }
    40% { background: $_col_button_high; }
    60% { background: $_col_button_high*2; }
    80% { background: $_col_button_high; }
    100% { background: $_col_button_high*2; }
}

.button {
	-webkit-transform: translate3d(0px,0px,0px);
	display: block;
	background: $_col_button_high;
	color: $_col_button_high_type;
	padding: 8px 0;
	@media screen and (min-height: $_min_height) {
		padding: 18px 5px;
	}
	border-radius: 4px;
	font-family: Nunito;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	.active {
		color: $_col_button_high_type;
		background: $_col_button_high*1.5 !important;
	}
	&.short {
		display: inline-block;
		width: 69px;
		margin-left: 5px;
		font-size: 13px;
	}
	&.form {
		padding: 12px 0 11px;
	}
	&.disabled {
		opacity: 0.3;
	}
	&.answer {
		text-transform: none;
		font-size: 18px;
	}
}

@-webkit-keyframes 'correct' {
    0% { background: $_col_accept*2; }
    20% { background: $_col_accept; }
    40% { background: $_col_accept*2; }
    60% { background: $_col_accept; }
    80% { background: $_col_accept*2; }
    100% { background: $_col_accept; }
}

@-webkit-keyframes 'wrong' {
    0% { background: $_col_decline*2; }
    20% { background: $_col_decline; }
    40% { background: $_col_decline*2; }
    60% { background: $_col_decline; }
    80% { background: $_col_decline*2; }
    100% { background: $_col_decline; }
}

span.button.dead {
	cursor: default;
	text-transform: none;
	background: none;
	border: solid 1px $_col_button_high;
	padding: 11px 0;
	width: 123px;
	color: $_col_button_high;
	&.short {
		width: 67px;
	}
}

p.alert {
	padding: 15px;
	border-radius: 6px;
	border: solid 1px $_col_alert;
	background: $_col_alert+#dddddd-#111111;
	color: $_col_alert;
	margin: 0 0 15px 0;
}

.continue {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 320px;
	height: 1000px;
	z-index: 2005;
}

/************************************************************************************************/
/*
/* Fehler
*/

#badboy {
	text-align: center;
	background: red;
	color: yellow;
}

#badboy p {
	width: 240px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 1.4;
	&.i {
		font-size: 120px;
		margin: 80px auto;
	}
}

